body {
	.img-container{
		display: inline-block;
		width: 14%;
		img{
			width: 15%;

		}
	}
	nav {
		width: 70%;
		display: inline-block;
		li{
			display: inline;

		}
	}

	.button-container{
		display:inline-block;
		width: 14%;
	}


}
